<{include file="header.htm"}>
<!-- <div  class="main-margin-div" > -->
<div id="hide-show" style="background-color:#eeeeee;padding-bottom:15px;">
    <IMG style="VERTICAL-ALIGN: middle" border="0" alt="分类" src="image/icon_listsearch.png">
    <FONT color="#cc0066" >快速查找 </FONT>
    <A id=sd0  href="javascript:sql_type_st='1';set_color_sms('sd0');quick_search();">全部数据</A>&nbsp;<FONT color=#99cc00 face=Wingdings>w</FONT>
    
    <A id=st0  href="javascript:sql_type_st='2';set_color_sms('st0');quick_search();">今月</A>&nbsp;<FONT color=#99cc00 face=Wingdings>w</FONT>
    <A id=st1  href="javascript:sql_type_st='3';set_color_sms('st1');quick_search();"  style="color:red;">今周</A>&nbsp;<FONT color=#99cc00 face=Wingdings>w</FONT>
    <A id=st2  href="javascript:sql_type_st='4';set_color_sms('st2');quick_search();">今日</A>
    &nbsp;<FONT color=#99cc00 face=Wingdings>w</FONT>
    <A id=ss0  href="javascript:sql_type_ss='5';set_color_sms('ss0');quick_search();">成功</A>&nbsp;<FONT color=#99cc00 face=Wingdings>w</FONT>
    <A id=ss1  href="javascript:sql_type_ss='6';set_color_sms('ss1');quick_search();">失败</A>&nbsp;
</div>
<div class="form-div main-margin-div" id="_search_panel">
<form class="form-search" action="javascript:quick_search()" method="POST" name="searchForm" id="searchForm">
	<!--<img src="image/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />-->
    <div class="control-group">
        <label>查询条件</label>
	    <input id="receiver_phone" name="receiver_phone"  type="text" value="" size="15" placeholder="接收号码"/>
    </div>
    <div class="control-group bottom_none">
        <label>查询时间</label>
        <div class="input-append">
            <input type="text" name="send_start_time" id="send_start_time" value="<{$start_day|default:''}>" class="form-time-input-width" readonly>
            <button type="button" role="date" class="btn" onclick="WdatePicker({el: 'send_start_time',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </div> -
        <div class="input-append">
            <input type="text" name="send_end_time" id="send_end_time" value="" class="form-time-input-width" readonly>
            <button type="button" role="date" class="btn" onclick="WdatePicker({el: 'send_end_time',dateFmt:'yyyy-MM-dd HH:mm:ss'})">
                <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
        <button class="new_btn" type="button" onclick="$('#searchForm').submit();">
                <span class="iconfont">&#xe60c;&nbsp;</span> 搜索
        </button>
    </div>
</form>
</div>
<div id="window" title="详细信息" style="width:600px;height:300px;padding:10px;display:none">
	<div style="padding-top:5px;padding-bottom:5px;background:#fff;">
		<label>详细信息：</label>
		<textarea id="SR_content" style="border:1px solid #ccc;width:94%;height:185px;font-family:verdana;padding-top:5px"   onpropertychange="calculation()"  class="textarea"  readonly></textarea>
		<input type="text" id="cal" name="cal" value="" size="3" style="border:0;color:red;width:40px;text-align: center;" readonly>字(共<input  id="SR_tiaoshu"  name="SR_tiaoshu"  value="" style="border:0;color:red;width:40px;text-align:center;" size="3" readonly/>条)
	</div>
</div>
<!-- </div> -->
<!-- <div class="tabs_list">
    <div id="sd0" class="tabs_large" onclick="sql_type_st='1';set_active('sd0');quick_search();">
        <span>全部数据</span>
    </div>
    <div id="sd1" class="tabs_large" onclick="sql_type_st='2';set_active('sd1');quick_search();">
        <span>今月</span>
    </div>
    <div id="sd2" class="tabs_large active" onclick="sql_type_st='3';set_active('sd2');quick_search();">
        <span>今周</span>
    </div>
    <div id="sd3" class="tabs_large" onclick="sql_type_st='4';set_active('sd3');quick_search();">
        <span>今日</span>
    </div>
    <div id="sd4" class="tabs_large" onclick="sql_type_ss='5';set_active('sd4');quick_search();">
        <span>成功</span>
    </div>
    <div id="sd5" class="tabs_large" onclick="sql_type_ss='6';set_active('sd5');quick_search();">
        <span>失败</span>
    </div>
</div> -->
<div  class="main-margin-div" >
    <table id="sms_list"></table>
</div>
<{include file="footer.htm"}>  

<script language="JavaScript" type="text/javascript">
var EACH_smsLength = <{$EACH_smsLength}>;
var power_phone_view = '<{$power_phone_view}>';//显示全部号码权限
</script>
<script src="assets/js/sms_list.js?1.1" type="text/javascript"></script>
<script src="assets/datepicker/WdatePicker.js" type="text/javascript"></script>