#left_menu_div a {
	padding-left:30px;
	margin-top:2px;
	width:80%;
	height:23px;
	line-height:23px;
	display:block;
}
#left_menu_div a:visited, #left_menu_div a:link {
  color: #335B64;
  text-decoration: none;
}
#left_menu_div a:hover {
  color: #EB8A3D;
  text-decoration: none;
  background: url(../../image/f3.gif)  no-repeat -2px -9px;
}
#left_menu_div a:active {
  color: #EB8A3D;
  text-decoration: underline;
}
#left_menu_div .selected {
  background: url(../../image/f3.gif)  no-repeat -2px -9px;
}
